{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="content-column-content">
    <h1>{{ .Title }}
    {{ with .Params.acquired }}
      <span class="badge">acquis</span>
    {{ end }}
    </h1>
  </div>
  <div class="content-column-content row">
    <div class="col-md-8">      
      <div class="progress">
        {{ if eq .Params.Price .Params.Progress }}
        <div class="progress-value" style="width: 100%">
          <span>Montant atteint !</span>
        </div>
        {{ else }}
        <div class="progress-value" style="width: {{mul (div (mul .Params.Progress 1.0) (.Params.Price | default 1.0)) 100}}%;">
          <span>{{ printf "%.2f €" (mul .Params.Progress 1.0) }} / {{ printf "%.2f €" (mul .Params.Price 1.0) }}</span>
        </div>
        {{ end }}
      </div>
      <div class="row">
        {{ if ne .Params.Price .Params.Progress }}
        <div class="col-md-6">
          <p>Faire un envoi sur Paypal avec la référence « {{ .Title }} » dans le
            message de transaction.
          </p>
          <a class="btn btn-primary btn-lg" href="https://www.paypal.com/paypalme/florentmarinejardin?locale.x=fr_FR" target="_blank">Paypal</a>
        </div>

        <div class="col-md-6">
          <p>Procéder à un virement bancaire avec vos nom et prénom, ainsi que la
            référence « {{ .Title }} » dans le message de transaction.</p>
            
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">IBAN</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ .Site.Params.Identity }}</h6>
              {{ .Site.Params.Iban }}
            </div>
          </div>
        </div>
        {{ end }}
        {{ with .Params.contrib }}
        <div class="col-md-12">
          <p>Merci aux aimables contributions !</p>
          <ul>
            {{ range .}}
              {{ if eq .donate 0 }}
                <li>{{ .name }} a fait un don</li>
              {{ else }}
                <li>{{ .name }} a fait un don de {{ printf "%.2f €" (mul .donate 1.0) }}</li>
              {{ end }}
            {{ end}}
          </ul>
        </div>
        {{ end }}
      </div>
    </div>
    <div class="col-md-4">
      {{ with .Params.image }}
        {{ partial "img.html" (dict "src" . "alt" "" "sizes" "(min-width: 768px) 33vw, 100vw") }}
      {{ end }}
      {{ with .Params.website }}
        <p><a class="btn btn-ghost" href="{{ . }}" target="_blank" rel="noopener">Voir le produit</a></p>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
