/* your styles go here */

.progress {
  background: #cdcdcd;
  position: relative;
  width: 100%;
}

.progress-value {
  background: var(--color-primary);
  color: #fff;
}

.progress-value span {
  padding-left: 10px;
}
