<div class="portfolio-grid">
  {{ range . }}
    <div class="portfolio-item">
      <div class="box-masonry">
        {{ if and (isset .Params "image") .Params.image }}
          <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
            {{ partial "img.html" (dict "src" .Params.image "alt" "") }}
          </a>
        {{ end }}
        <div class="box-masonry-text">
          <h4>{{ .Title }}
          {{ with .Params.acquired }}
            <span class="badge">acquis</span>
          {{ end }}
          </h4>
          <div class="progress">
            {{ if eq .Params.Price .Params.Progress }}
            <div class="progress-value" style="width: 100%">
              <span>Montant atteint !</span>
            </div>
            {{ else }}
            <div class="progress-value" style="width: {{mul (div (mul .Params.Progress 1.0) (.Params.Price | default 1)) 100}}%;">
              <span>{{ printf "%.2f €" (mul .Params.Progress 1.0) }} / {{ printf "%.2f €" (mul .Params.Price 1.0) }}</span>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  {{ end }}
</div>
